@font-face {
  font-family: "Min Sans Trial";
  src: url("/fonts/MinSansTrial-Regular.woff2") format("woff2"), url("/fonts/MinSansTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Min Sans Trial Book";
  src: url("/fonts/MinSansTrial-Book.woff2") format("woff2"), url("/fonts/MinSansTrial-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Min Sans Trial";
  src: url("/fonts/MinSansTrial-Medium.woff2") format("woff2"), url("/fonts/MinSansTrial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 1rem 4rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-def {
  border: solid 1px #B36160;
  color: #fff;
  background: #B36160;
  width: 300px;
  font-weight: 600;
}
.btn-def:hover {
  background: #804544;
  color: #fff;
}
@media (max-width: 767px) {
  .btn-def {
    width: 250px;
  }
}

.btn-outline-def {
  border: solid 1px #B36160;
  color: #B36160;
  background: transparent;
  width: 300px;
  font-weight: 600;
}
.btn-outline-def:hover {
  background: #B36160;
  color: #fff;
}
@media (max-width: 767px) {
  .btn-outline-def {
    width: 250px;
  }
}

@media (max-width: 767px) {
  .navbar-brand img {
    height: 25px;
    width: 100%;
  }
}

.navbar-toggler {
  border: none !important;
  padding: 0;
}

@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 2rem;
  }
}

.navbar {
  background: #E5D8C5;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .navbar {
    padding: 2rem 1rem;
  }
}
.navbar .nav-link {
  margin: 0 0.5rem;
}
.navbar .nav-link a {
  text-decoration: none !important;
  text-transform: uppercase;
  color: #1E1E1E;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.navbar .nav-link a:hover {
  color: #B29166;
}

#hero {
  height: 90vh;
  background: #F5EFE8;
}
#hero .hero-caption {
  width: 300px;
  text-align: center;
}
#hero .hero-caption h1 {
  font: normal 36px "Min Sans Trial";
}

#intro {
  height: 100vh;
  background: url("../assets/intro-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 767px) {
  #intro {
    height: auto;
    padding: 6rem 1rem;
  }
}
#intro .intro-content {
  text-align: center;
}
#intro .intro-content h2 {
  color: #fff;
  font: 400 24px "Raleway";
}
@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 16px;
  }
}
#intro .intro-content p {
  font: normal 36px "Min Sans Trial";
  color: #fff;
  margin: 2rem 0;
}
@media (max-width: 767px) {
  #intro .intro-content p {
    font-size: 24px;
  }
}

#rsvp {
  height: 90vh;
  padding-top: 160px;
  background: #F5EFE8 url("../assets/bgc-skyline.png") no-repeat;
  background-size: 100%;
  background-position: bottom center;
}
@media (max-width: 767px) {
  #rsvp {
    height: auto;
    padding: 6rem 2rem;
  }
}
#rsvp .rsvp-content {
  text-align: center;
  border: solid 2px #C1A785;
  outline: 2px solid #C1A785;
  outline-offset: 20px;
  height: 500px;
}
@media (max-width: 767px) {
  #rsvp .rsvp-content {
    outline-offset: 10px;
    height: auto;
  }
}
@media (max-width: 767px) {
  #rsvp .rsvp-content div {
    padding: 4rem 2rem;
  }
}
#rsvp .rsvp-content p {
  font: normal 36px "Min Sans Trial";
  color: #1e1e1e;
  margin: 0 auto 2rem auto;
  width: 65%;
}
@media (max-width: 767px) {
  #rsvp .rsvp-content p {
    font-size: 28px;
    width: 100%;
  }
}

footer {
  background: #1e1e1e;
  padding: 5rem 0;
}
@media (max-width: 767px) {
  footer {
    padding: 5rem 1rem 3rem 1rem;
  }
}
footer .footer-logo {
  width: 90%;
}
@media (max-width: 767px) {
  footer .footer-nav {
    margin: 3rem 0;
  }
}
footer .footer-nav ul {
  margin: 0;
  padding: 0;
}
footer .footer-nav ul li {
  list-style: none;
  margin: 0.8rem 0;
}
footer .footer-nav ul li a {
  text-decoration: none;
  color: #FAF7F3;
  font-weight: 500;
  text-transform: uppercase;
}
footer .footer-contact {
  text-align: right;
}
@media (max-width: 767px) {
  footer .footer-contact {
    text-align: left;
  }
}
footer .footer-contact p {
  color: #FAF7F3;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */