header {
    background: #E5D8C5;
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        list-style: none;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
}

/* transition for links */

.nav-link {
    transition: 0.5s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #111;
    margin-right: -4px;
}

.nav-item {
    padding: 0 1.5rem;
}

@media(max-width: 1024px) {
    header {
        padding: 0.75rem;
    }

    .bar {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(11.5px);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-11.5px);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: #E5D8C5;
        transition: 0.3s;
        z-index: 9999;
        padding: 2rem;
    }

    .nav-item {
        padding: 1.5rem 0;
    }

    .nav-menu.active {
        right: 0;
    }
}